.text-20 {
  font-size: 20px;
  line-height: 20px;
}
.text-16 {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.text-16-italic {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-style: italic;
  color: #6da817;
}
.text-24 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}
.text-32 {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}
.text-48 {
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
}
.p-wide-spacing {
  margin: 16px 0;
  font-size: 16px;
  color: #505050;
  line-height: 24px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  color: #505050;
}
h1,
h2 {
  letter-spacing: -1px;
}
p {
  margin: 16px 0;
  font-size: 16px;
  color: #505050;
  line-height: 24px;
  font-weight: normal;
}
figcaption {
  margin-top: 4px;
  font-size: 14px;
  color: #716f6f;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
body > header {
  position: fixed;
  top: -60px;
  padding: 0 32px;
  height: 60px;
  width: 100%;
  border-top: 8px solid #cc301c;
  z-index: 10;
  color: #505050;
  line-height: 50px;
}
body > header.header-minimal {
  border-color: transparent;
  background: transparent;
}
@-webkit-keyframes header-fade-in {
  from {
    border-color: transparent;
    background-color: transparent;
  }
  to {
    border-color: #cc301c;
    background-color: #fff;
  }
}
body > header.header-active {
  background-color: #fff;
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: header-fade-in;
}
body > header h1 {
  margin-right: 10px;
  display: inline-block;
  font-size: 20px;
  color: #cc301c;
}
body > header h2 {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
#pagination {
  position: absolute;
  top: 50%;
  height: 10px;
  margin-top: -5px;
  right: 32px;
}
#pagination div {
  display: inline-block;
  float: left;
  width: 10px;
  height: 10px;
  background-color: #dadada;
  margin-left: 4px;
}
#pagination div.selected {
  background-color: #cc301c;
}
header.inline h1,
header.inline h2 {
  display: inline-block;
}
header.inline h2 {
  margin-left: 12px;
  font-size: 58px;
  color: #dadada;
}
.ui-content .iceberg {
  position: absolute;
  top: 18px;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #000000;
  padding-right: 22px;
  background-image: url("../img/arrow-iceberg@2x.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 14px 20px;
}
.level-0 .iceberg {
  top: 36px;
}
#magazine-cover .iceberg {
  top: 94px;
  right: 32px;
  color: #fff;
}
header .follow {
  display: block;
  line-height: 32px;
  float: right;
  padding-left: 32px;
  background: url(../img/icon-follow@2x.png);
  background-size: 32px;
  background-repeat: no-repeat;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 62px;
}
#global-footer {
  position: fixed;
  height: 67px;
  bottom: -67px;
  width: 100%;
  z-index: 10;
  background: url(../img/footer-bg.png) bottom left repeat-x;
}
#global-footer ul {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 55px;
  line-height: 55px;
}
#global-footer ul li {
  float: left;
}
#global-footer ul li a {
  float: left;
  padding: 0 24px;
  border-left: 1px solid #dadada;
  height: 55px;
  color: #505050;
}
#global-footer .context {
  border: 0;
  display: none;
}
#global-footer .logo {
  display: block;
  position: relative;
  top: 20px;
  left: 28px;
  width: 170px;
  height: 40px;
  background: url(../img/icon-bbc@2x.png) center center no-repeat;
  background-size: 170px 32px;
}
#global-footer .share {
  margin-right: 10px;
  background: url(../img/icon-share@2x.png);
}
#global-footer .save {
  background: url(../img/icon-save@2x.png);
}
#global-footer .follow {
  background: url(../img/icon-follow@2x.png);
}
#global-footer .search {
  background: url(../img/icon-search@2x.png);
}
#global-footer .toggle-settings {
  background: url(../img/icon-settings@2x.png);
}
#global-footer .share,
#global-footer .save,
#global-footer .follow,
#global-footer .search,
#global-footer .toggle-settings,
#global-footer .toggle-settings.active {
  width: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
}
#global-footer .toggle-nav {
  padding-left: 50px;
  background: url(../img/icon-sections@2x.png) 16px 47% no-repeat;
  background-size: 32px;
  font-size: 21px;
  font-weight: bold;
  color: #716f6f;
}
.new:before {
  content: "NEW";
  padding: 4px;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #cc301c;
}
.ui-content > header h1 {
  font-size: 48px;
  letter-spacing: -2px;
  color: #000000;
}
.ui-content > header.level-0 h1 {
  font-size: 72px;
  line-height: 72px;
}
.ui-body-c,
.ui-overlay-c,
.ui-overlay-a {
  background: #ffffff;
  text-shadow: none;
  color: #505050;
}
.ui-body-c .ui-link,
.ui-body-c .ui-link:hover,
.ui-body-c .ui-link:visited {
  color: #000;
}
.ui-content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 32px;
}
.ui-content * {
  -webkit-transform: translate3d(0, 0, 0);
}
.lead,
aside {
  z-index: 1;
}
.in,
.out {
  -webkit-animation-duration: 0.3s !important;
  -moz-animation-duration: 0.3s !important;
}
.ui-mobile-viewport-transitioning div[data-role="page"] {
  border: none;
}
#magazine.ui-mobile [data-role="page"],
#magazine.ui-mobile [data-role="dialog"],
#magazine.ui-page {
  padding-top: 0;
}
.ui-dialog-contain {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.ui-overlay-shadow {
  box-shadow: none;
}
#index.ui-content,
#index.ui-page-active {
  height: 100%;
  background-image: -webkit-linear-gradient(top, #c90101, #fa0101);
}
#index img {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -145px;
}
#mask {
  visibility: hidden;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.7);
}
nav {
  z-index: 30;
  position: absolute;
  top: 0;
  right: -272px;
  padding: 50px 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  font-weight: bold;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-weight: bold;
}
nav ul li a {
  display: inline-block;
}
nav ul:first-child {
  margin: 0 20px 20px 20px;
}
nav ul:first-child a {
  padding-bottom: 15px;
}
nav ul:last-child {
  margin: 0 0 16px 0;
}
nav ul:last-child a {
  padding: 8px 20px;
}
nav ul:first-child li:last-child {
  border-bottom: 1px solid #eee;
}
nav ul:first-child a {
  color: #cc301c;
}
nav ul:last-child a {
  color: #716f6f;
}
nav ul li ul {
  margin-top: -6px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
}
nav ul:last-child li ul a {
  padding: 8px 30px;
}
nav .submenu {
  float: right;
  width: 32px;
  height: 32px;
  background-image: url(../img/arrow-nav-up@2x.png);
  background-repeat: no-repeat;
  background-size: 20px 15px;
  background-position: left center;
}
nav .closed {
  background-image: url(../img/arrow-nav-down@2x.png);
}
nav ul a.selected {
  color: #000000;
}
nav ul:last-child li:first-child {
  color: #a00;
}
#settings {
  position: absolute;
  top: 0;
  right: -451px;
  width: 709px;
  height: 100%;
  background-color: #E8E8E8;
  display: none;
}
#settings h1 {
  margin-bottom: 16px;
  color: #000000;
}
#settings h2 {
  margin: 32px 0 16px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}
#settings .left-panel {
  width: 258px;
  height: 100%;
  padding-left: 20px;
  padding-top: 80px;
  border-right: 1px solid #dadada;
}
#settings .left-panel ul li {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  background-image: url(../img/arrow-dark-grey-right@2x.png);
  background-size: 14px 20px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
#settings .right-panel {
  float: right;
  padding: 70px 32px 0 16px;
  width: 451px;
}
#settings .right-panel h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
}
#settings .right-panel h2 {
  position: relative;
  margin: 12px 0;
  padding-left: 32px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  background-color: #ffffff;
  background-image: url(../img/arrow-dark-grey-right@2x.png);
  background-size: 14px 20px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}
#settings .right-panel h2 span {
  display: block;
  position: absolute;
  top: 2px;
  left: 185px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
}
#settings .right-panel ul li {
  position: relative;
  margin-bottom: 12px;
  height: 48px;
  font-size: 20px;
  line-height: 20px;
  line-height: 48px;
  font-weight: bold;
  color: #505050;
  background-color: #F2F2F2;
  background-image: url(../img/icon-sections-light@2x.png);
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-size: 15px;
}
#settings .right-panel ul li span {
  position: absolute;
  left: 12px;
  top: 8px;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #ffffff;
}
#settings .right-panel ul li div {
  float: left;
  margin-right: 12px;
  background-color: #c6c6c6;
  width: 130px;
  height: 48px;
}
#settings .right-panel ul li div > div {
  background-color: #6f6f6f;
  width: 50%;
}
aside {
  float: right;
  width: 224px;
}
section.content-body p {
  line-height: 18px;
}
section.content-body p:first-of-type {
  font-weight: bold;
}
section.content-body h2 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 50px;
  letter-spacing: 0;
}
.inline-block-grid-wrapper {
  font-size: 0;
}
article {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 224px;
  max-height: 448px;
  overflow: hidden;
}
article h1 {
  padding-top: 12px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
article h3 {
  font-size: 20px;
  line-height: 20px;
  margin: 12px 0;
  color: #000000;
}
article > header h1 {
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid #DADADA;
  color: #cc301c;
  margin-bottom: 12px;
  padding-top: 12px;
}
.ui-body-c a.section-link,
.ui-body-c a.section-link:hover,
.ui-body-c a.section-link:visited {
  color: #cc301c;
  font-weight: bold;
}
article section header h2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-style: italic;
  color: #6da817;
  margin-top: 8px;
}
article.lead {
  float: left;
  width: 464px;
  height: 448px;
}
article.lead section header h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  margin-top: -48px;
  padding-top: 4px;
  width: 355px;
  background-color: #fff;
}
article footer {
  padding: 0 8px;
  height: 34px;
  line-height: 34px;
  font-style: italic;
  background-color: #EBEBEB;
}
article footer p {
  margin: 0;
  line-height: 34px;
}
article footer p span {
  font-weight: bold;
}
.article-small article h1 {
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.article-inset h1 {
  padding-left: 8px;
  border: none;
}
.article-inset p {
  padding: 0 8px;
}
article footer {
  position: static;
  padding: 0 8px;
  height: 34px;
  line-height: 34px;
  font-style: italic;
  background-color: #EBEBEB;
}
article footer p {
  margin: 0;
  line-height: 34px;
  color: #6da817;
}
article footer p span {
  font-weight: bold;
}
.comment {
  background: url(../img/icon-comment@2x.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 45px 18px;
}
#primary-layout .inline-block-grid-wrapper article:first-child,
#secondary-layout .inline-block-grid-wrapper article:first-child {
  height: 448px;
}
#primary-layout aside {
  height: 448px;
  overflow: hidden;
  position: relative;
}
#primary-layout aside h1 {
  padding: 0 8px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  height: 58px;
  line-height: 58px;
  color: #000000;
  background-color: #dadada;
}
#primary-layout aside.location h1,
#primary-layout aside.location h2 {
  height: 75px;
  line-height: 75px;
  border-bottom: 1px solid #dadada;
}
#primary-layout aside.location h1 {
  padding: 0;
  border-top: 4px solid #dadada;
  color: #000000;
  background: none;
}
#primary-layout aside.location h2 {
  margin-bottom: 32px;
  color: #716f6f;
  background: url(../img/icon-location@2x.png) right center no-repeat;
  background-size: 32px;
}
.primary-h1 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #000000;
}
cite {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
}
cite span {
  display: block;
  font-style: normal;
  font-weight: bold;
}
ul.nav-prev-next {
  border-top: 1px solid #dadada;
}
ul.nav-prev-next li:first-child {
  border-bottom: 1px dotted #ddd;
}
ul.nav-prev-next li a span {
  display: block;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-top: 2px;
  font-weight: bold;
  color: #cc301c;
}
ul.nav-prev-next li:first-child a span {
  background: url("../img/arrow-left.png") center left no-repeat;
}
ul.nav-prev-next li:last-child a span {
  background: url("../img/arrow-right.png") center left no-repeat;
}
ul.nav-prev-next li .ui-link {
  padding-left: 20px;
  font-size: 16px;
  color: #716f6f;
  display: block;
  padding: 12px 0;
}
ul.nav-prev-next li .ui-link:hover {
  color: #716f6f;
}
#live-layout article.lead {
  width: 704px;
}
#live-layout article.lead h1 {
  border: none;
}
#live-layout article.lead h1,
#live-layout article.lead h2 {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}
#live-layout article.lead h2 {
  color: #505050;
}
article.video {
  float: left;
  width: 704px;
  height: 394px;
}
#live-layout header h1 {
  margin-bottom: 4px;
}
#live-layout article.feature-description {
  position: relative;
}
#live-layout article.feature-description h1 {
  padding: 0;
  border: none;
}
#live-layout article.feature-description .next {
  position: absolute;
  bottom: 0;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}
#live-layout article.feature-description .next span {
  color: #cc301c;
}
#live-layout aside {
  height: 394px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
#live-layout aside header {
  padding: 12px 0 12px 64px;
  background: url("../img/twitter.png") center left no-repeat;
}
#live-layout aside header h1 {
  margin: 4px 0;
  font-size: 20px;
  line-height: 20px;
}
#live-layout aside header h2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-weight: normal;
}
#live-layout dl {
  margin: 16px 0;
}
#live-layout dt {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-style: italic;
  color: #6da817;
}
#live-layout dd {
  margin: 16px 0;
  font-size: 16px;
  color: #505050;
  line-height: 24px;
  margin-top: 0;
  background-image: url("../img/arrow-grey-right@2x.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 18px 24px;
}
#live-layout dd a {
  font-weight: bold;
}
.story-layout {
  overflow: hidden;
}
.story-layout figcaption {
  margin-bottom: 12px;
}
.story-layout article {
  width: 100%;
  max-height: none;
}
.story-layout aside header {
  margin-left: 0;
  width: 224px;
}
.story-layout aside header h1 {
  margin-bottom: 16px;
  padding: 8px 0;
  font-size: 20px;
  color: #716f6f;
  border-bottom: 1px solid #dadada;
}
.story-layout header p {
  color: #716f6f;
}
.story-layout h2 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2px;
  color: #000000;
}
.story-layout aside header h1,
.story-layout blockquote {
  border-top: 4px solid #dadada;
}
.story-layout section.content-body p:first-child {
  margin-top: 0;
}
.story-layout blockquote {
  margin: 60px 0;
  border-bottom: 1px solid #dadada;
}
.story-layout blockquote p {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-top: -90px;
}
.story-layout blockquote p:after {
  content: "\201d";
}
.story-layout blockquote:before {
  display: block;
  content: "\201c";
  margin-top: -12px;
  margin-left: -4px;
  font-size: 140px;
}
.story-layout ul.related-stories li a {
  display: block;
  padding: 16px 0;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
ul.tabs {
  background-color: #fff;
  height: 45px;
}
ul.tabs li a {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 16px;
  line-height: 45px;
  float: left;
}
ul.tabs li:first-child a {
  padding-left: 32px;
}
ul.tabs li:last-child a {
  padding-right: 42px;
  background: url("../img/total-bg.png") 90% 50% no-repeat;
}
ul.tabs li a.selected {
  background-color: #f1f2f2;
}
.column {
  float: left;
  margin-right: 16px;
  width: 224px;
}
.column article {
  background-color: #ffffff;
}
.column:last-child {
  margin-right: 0;
}
.reveal-more {
  margin-bottom: 16px;
}
.reveal-more header {
  position: relative;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #ffffff;
}
.reveal-more header h1 a {
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 4px;
}
.reveal-more header h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  color: #000000;
}
.reveal-more header a.expand {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding-right: 24px;
}
.reveal-more header a.collapsed,
.reveal-more header a.expanded {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px;
}
.reveal-more header a.collapsed {
  background-image: url("../img/arrow-black-down@2x.png");
}
.reveal-more header a.expanded {
  background-image: url("../img/arrow-black-up@2x.png");
}
.reveal-more p {
  margin: 0;
  font-size: 12px;
  color: #dadada;
  border-bottom: 2px solid #ffffff;
}
.reveal-more p span {
  font-weight: bold;
  color: #716f6f;
}
.reveal-more .inline-block-grid-wrapper {
  height: 202px;
  overflow: hidden;
}
.reveal-more .inline-block-grid-wrapper.reveal-collapsed {
  height: 202px;
}
.reveal-more .inline-block-grid-wrapper.reveal-expanded {
  height: 100%;
}
.ui-content.full-width {
  padding: 0;
}
.full-width-fill {
  overflow: hidden;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #f1f2f2;
}
.accordion {
  width: 224px;
}
.accordion dt {
  padding-left: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  line-height: 40px;
  font-weight: bold;
  border-top: 1px solid #fff;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 8px 50%;
  background-color: #f3f3f3;
  background-image: url(../img/arrow-right-grey-small@2x.png);
}
.accordion dt a {
  display: block;
}
.accordion dt.active {
  color: #000000;
  background-image: url(../img/arrow-black-down@2x.png);
}
.accordion dd {
  height: 52px;
  font-size: 16px;
  padding: 6px 38px 0 8px;
  font-weight: normal;
  font-weight: bold;
  border-bottom: 1px solid #f3f3f3;
  background: url(../img/arrow-right-boxed@2x.png) center right no-repeat;
  background-size: 30px;
}
.accordion dd span {
  float: left;
  margin-top: -6px;
  padding-right: 12px;
  line-height: 52px;
  font-size: 42px;
  color: #cc301c;
}
.accordion dd:nth-child(7n-8) {
  border-bottom: 0;
}
.accordion dd:nth-child(7n-7) {
  padding-top: 0;
  height: 26px;
  font-size: 20px;
  line-height: 20px;
  line-height: 26px;
  color: #000000;
  border-bottom: 0;
  background: none;
}
.accordion .n2 {
  color: #bf2d1a;
}
.accordion .n3 {
  color: #b12a18;
}
.accordion .n4 {
  color: #b12a18;
}
.accordion .n5 {
  color: #962315;
}
.tab-dl {
  float: left;
  position: relative;
  width: 224px;
}
.tab-dl dt {
  font-size: 20px;
  line-height: 20px;
  float: left;
  background-color: #dadada;
}
.tab-dl dt a.ui-link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  float: left;
  padding: 0 16px;
  width: 112px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}
.tab-dl .active {
  background-color: #ffffff;
}
.tab-dl dd {
  position: absolute;
  top: 46px;
}
.tab-dl ul {
  counter-reset: li;
}
.tab-dl ul li a.ui-link {
  display: block;
  height: 58px;
  font-size: 16px;
  padding: 8px 30px 0 8px;
  font-weight: normal;
  font-weight: bold;
}
.tab-dl ul li a:before {
  float: left;
  margin-top: -6px;
  margin-right: 12px;
  content: counter(li);
  counter-increment: li;
  font-size: 42px;
  color: #cc301c;
}
.tab-dl .media li a {
  padding-right: 32px;
}
.media li {
  background: url(../img/icon-play@2x.png) center right no-repeat;
  background-size: 28px;
}
p.show-more {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px dotted #dadada;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
#magazine-cover {
  padding: 32px;
}
#magazine-cover p.date {
  margin-top: -8px;
  color: #fff;
}
#magazine-cover img {
  margin-top: 27px;
}
#magazine-content {
  position: relative;
}
#mag-gallery,
#mag-story-interactive,
#mag-story-content {
  position: absolute;
  z-index: 1000;
}
.header-magazine-icon {
  position: relative;
  top: 7px;
  left: 5px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icon-magazine@2x.png);
  background-repeat: no-repeat;
  background-size: 24px;
}
.weather-icon {
  position: absolute;
  right: 0;
  bottom: -8px;
}
#weather {
  position: absolute;
  display: none;
  z-index: 40;
  height: 290px;
  width: 768px;
  background-size: 768px 290px;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url(../img/weather-p@2x.png);
}
.animated {
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
}
#global-footer.footer-reveal {
  bottom: 0;
  -webkit-transition: bottom 0.5s ease-in;
}
.header-reveal {
  top: 0;
  -webkit-transition: top 0.5s ease-in;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
  }
}
.fade-in {
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fade-in;
}
.fade-out {
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fade-out;
}
@-webkit-keyframes close-nav {
  0% {
    width: 272px;
    -webkit-transform: translatex(-100%);
  }
  100% {
    -webkit-transform: translatex(0%);
  }
}
@-webkit-keyframes open-nav {
  0% {
    width: 272px;
  }
  100% {
    width: 272px;
    -webkit-transform: translatex(-272px);
  }
}
.close-nav {
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: close-nav;
}
.open-nav {
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: open-nav;
}
@-webkit-keyframes slide-content-left {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    -webkit-transform: translatex(-258px);
  }
}
.slide-content-left {
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: slide-content-left;
}
@-webkit-keyframes slide-content-right {
  0% {
    visibility: visible;
    -webkit-transform: translatex(-258px);
  }
  100% {
    -webkit-transform: translatex(0);
  }
}
.slide-content-right {
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: slide-content-right;
}
@-webkit-keyframes slide-content-left-max {
  0% {
    visibility: visible;
    -webkit-transform: translatex(-258px);
  }
  100% {
    visibility: visible;
    -webkit-transform: translatex(-709px);
  }
}
.slide-content-left-max {
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: slide-content-left-max;
}
@-webkit-keyframes show-offline {
  0% {
    -webkit-transform: translatex(-258px);
  }
  100% {
    -webkit-transform: translatex(-451px);
  }
}
.show-offline {
  -webkit-animation: 0.3s ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: show-offline;
}
article.feature {
  background-color: #f2f2f2;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 194px 8px;
  background-image: url(../img/icon-pin@2x.png);
  height: 448px;
}
article.feature h1 {
  border: none;
}
article.feature header,
article.feature section header,
article.feature section p {
  padding: 0 8px;
}
article.feature section header h2 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #505050;
  font-style: normal;
}
article.feature footer {
  background-color: transparent;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-style: italic;
  color: #6da817;
}
#primary-layout aside.module h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  line-height: 58px;
  padding-left: 14px;
  letter-spacing: -2px;
}
.tip {
  position: absolute;
  z-index: 100;
  display: none;
}
.close {
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
}
#gallery .close {
  right: 0;
}
header.correspondent h1 {
  padding-top: 8px;
}
header.correspondent p {
  margin: 8px 0 0 0;
  font-weight: bold;
}
.special-report-module {
  margin-bottom: 16px;
}
.elapsed {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-style: italic;
  color: #6da817;
}
